.docs-main {
  text-align: center;
  font-family: 'Segoe UI';
}


.basics {
  color: #8ecae6;
  color: #219ebc;
  color: #023047;
  color: #ffb703;
  color: #fb8500;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #ffb703;
  font-family: 'Segoe UI';
  cursor: pointer;
  border: none;
  border-radius: 8px;

}