* {
  font-family: 'Segoe UI';
  background-color: #219ebc;

}

.docs-main {
  text-align: center;
  color: #023047;

}


.basics {
  color: #8ecae6;
  color: #219ebc;
  color: #023047;
  color: #ffb703;
  color: #fb8500;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #ffb703;
  cursor: pointer;
  border: none;
  border-radius: 8px;

}


.add-input {
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #023047;
  border-radius: 0px;
  padding: 10px;
}

.button-container {
  text-align: center;
  margin: 30px;
}