.docs-main {
  text-align: center;
}


.basics {
  color: #8ecae6;
  color: #219ebc;
  color: #023047;
  color: #ffb703;
  color: #fb8500;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #ffb703;
}